div{
height:200px;
width:300px;
float:left;
}

div#number1{
background-color:#0000CD;
margin-right:10px;
float:right;
color:white;
}

div#number2{
background-color:grey;
}

div#number3{
margin-left:500px;
margin-right:400px;
background-color:blue;
color:white;
}

div#number5{
margin-left:472px;
background-color:pink;
margin-right:10px;
}

div#number4{
background-color:#ADD8E6;
margin-left:10px;
margin-right:241px;
}